# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C EXTENSION
*.so

# DISTRIBUTION / PACKAGING
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
setup.cfg
*.egg

# DOCUMENTATION
docs/html/
sphinx_config

# PACKAGE DIST HELP
	*_help.txt


# INSTALLER LOGS
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
